<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"/>
    <application
        android:name=".data.QuickMark"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickMark"
        tools:targetApi="31"
        >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:resource="@xml/shortcuts"
                android:name="android.app.shortcuts"/>
        </activity>
        <activity
            android:taskAffinity=".ui.add_note_dialog.AddNoteActivity"
            android:name=".ui.add_note_dialog.AddNoteActivity"
            android:exported="true"
            android:label="Add Note Activity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.TransparentActivity">
        </activity>


        <receiver android:name=".ui.add_note_dialog.add_note_dialog_widget.AddNoteWidgetClickListener"
            android:exported="true">
            <intent-filter>
                <action android:name="@string/add_note_widget_click_intent"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".ui.add_note_dialog.add_note_dialog_widget.QuickMarkWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/add_note_widget_provider" />
        </receiver>

        <service
            android:name=".ui.add_note_dialog.add_note_dialog_tile.AddNoteDialogService"
            android:label="NewMarkdownFileDialogTile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>


    </application>

</manifest>